!!!
%html
  %head
    %title Auth
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, messages|
      .flash(id="flash#{name}")
        = messages

    .user-nav
      - if current_user
        Logged in as #{ current_user.email }
      - else
        = link_to "Sign up", sign_up_path
        &nbsp; or &nbsp;
        = link_to "Log in", log_in_path

    = yield
